*.npz
data/
*.bin
results_*.txt
tifu*.txt
.DS_Store
rust_impl/target
rust_impl/Cargo.lock
rust_impl/vsknn_differential_predictions*.txt
*.aux
*.blg
*.bbl
*.fls
*.fdb_latexmk
*.log
**/.ipynb_checkpoints/
*.out
*.synctex.gz
*.iml
.idea/
.vscode/
venv/
bolcom*txt
*.pyc
target/
*predictions.txt
*.ipr
*.iws
*.iml
.pytest_cache/
*/build/
